{
	"arrowParens": "avoid",
	"bracketSameLine": true,
	"bracketSpacing": true,
	"semi": true,
	"experimentalTernaries": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"quoteProps": "as-needed",
	"trailingComma": "none",
	"singleAttributePerLine": false,
	"htmlWhitespaceSensitivity": "strict",
	"vueIndentScriptAndStyle": true,
	"proseWrap": "preserve",
	"insertPragma": false,
	"printWidth": 250,
	"requirePragma": false,
	"tabWidth": 2,
	"useTabs": true,
	"embeddedLanguageFormatting": "auto"
}
